{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meal App</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'index.css' %}" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a
          class="navbar-brand text-light bg-info p-2 rounded-3"
          href="{% url 'ind' %}"
          >Bangla Restaurant</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'ind' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{% url 'home' %}"
                >Show item</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about_us' %}">About US</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav>
    {% block content %}
    <footer class="mt-5 py-3 bg-info">
      <div class="row">
        <div class="col">
          <p class="text-center text-light">Bangla Restaurent</p>
        </div>
        <div class="col">
          <p class="text-start">Home</p>
          <p class="text-start">Coverage</p>
          <p class="text-start">Presference</p>
          <p class="text-start">Health</p>
        </div>
        <div class="col">
          <p class="text-start">Price List</p>
          <p class="text-start">Food List</p>
          <p class="text-start">Beer List</p>
          <p class="text-start">Drinks List</p>
        </div>
        <div class="col">
          <p class="text-start">About</p>
          <p class="text-start">Country</p>
          <p class="text-start">Phone</p>
          <p class="text-start">Email</p>
        </div>
      </div>
    </footer>

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
