{% extends "base.html" %}
{% load static%}

{% block css %}
<link rel="stylesheet" href="{%static 'css/app.css'%}">
{% endblock css %}

{% block title %}
<title>Django, Form, app!</title>
{% endblock title %}

{% block content %}
<h1 class="text-center p-3 text-light bg-secondary">Inside First app > About </h1>

<div class="my-3 container mx-auto">
  <h1>User: {{name}}</h1>
  <h1>Email: {{email}}</h1>
  
  
  
</div>

<div class="py-3 my-4 text-light bg-secondary text-center">
  <a class="ms-4" href="..">Homepage</a>
  <a class="ms-4" href="table">Table</a>
</div>
{% endblock content %}

